.containerImg {
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}
figure {
  width: 80%;
  margin-inline: auto;
}

.containerImg img {
  display: block;
  max-width: 100%;
}
.containerImg {
  margin: 0 auto;
  min-width: 350px;
}
@media (max-width: 480px) {
  .containerImg {
    width: 80%;
  }
}
[data-style='1'] {
  border: solid 1px var(--tertiaryColor);
}
[data-style='2'] {
  border: solid 1px var(--tertiaryColor);
}
[data-style='3'] {
  border: solid 1px var(--secondaryColor);
}
[data-style='4'] {
  border: solid 1px var(--secondaryColor);
}
[data-style-img='default'] {
  border-radius: 20px;
}

.styleTitle {
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 10px;
}
.styleText {
  font-size: 1.125rem;
}
.containerText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}
[data-style='1']::before {
  content: '';
  position: absolute;
  border-top: 4px solid var(--tertiaryColor);
  border-right: 4px solid var(--tertiaryColor);
  height: 110px;
  right: -20px;
  top: -20px;
  width: 110px;
}

[data-style='2']::before {
  content: '';
  position: absolute;
  border-top: 4px solid var(--fourthColor);
  border-right: 4px solid var(--fourthColor);
  height: 110px;
  right: -20px;
  top: -20px;
  width: 110px;
}
[data-style='2']::after {
  content: '';
  position: absolute;
  border-left: 4px solid var(--secondaryColor);
  border-bottom: 4px solid var(--secondaryColor);
  height: 110px;
  left: -20px;
  bottom: -20px;
  width: 110px;
}
[data-style='3']::before {
  content: '';
  position: absolute;
  border-top: 4px solid var(--fourthColor);
  border-right: 4px solid var(--fourthColor);
  height: 110px;
  right: -20px;
  top: -20px;
  width: 110px;
}
[data-style='4']::before {
  content: '';
  position: absolute;
  border-top: 4px solid var(--fourthColor);
  border-right: 4px solid var(--fourthColor);
  height: 110px;
  right: -20px;
  top: -20px;
  width: 110px;
}
[data-style='4']::after {
  content: '';
  position: absolute;
  border-left: 4px solid var(--secondaryColor);
  border-bottom: 4px solid var(--secondaryColor);
  height: 110px;
  left: -20px;
  bottom: -20px;
  width: 110px;
}
