.BtnSec {
  font-family: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  font-weight: 500;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  margin: 10px 30px;
  padding: 0.3rem;
  border: 2px solid transparent;
  background: var(--textColorDisabled);
  color: var(--textColor);
  border-radius: 50%;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-decoration-color: transparent;
  /* -webkit-appearance: none; */
  /* z-index: 1; */
  height: 1.25rem;
  width: 1.25rem;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .BtnSec {
    transition: background 0.5s linear, transform 0.3s ease-in-out,
      outline-offset 0.2s ease-in-out;
  }
}

.BtnSec:focus {
  outline: 0.125rem solid #edb629;
  outline-offset: 0.1875rem;
}

.BtnSec[aria-selected='true'] {
  background: var(--thirdColor);
  border: 5px solid #edb629;
}
