.modal-button-image {
  border: 0.1875rem solid transparent;
  background-color: transparent;
  border-radius: min(10%, 3rem);
  padding: 1em;
  cursor: pointer;
}

.modal-button-image:focus {
  outline: 0.1875rem solid var(--tertiaryColor);
  outline-offset: 0.375rem;
}
