.c-modal {
  position: relative;
  max-width: var(--maxWidthModal);
  margin: auto;
  padding: 2rem;
  box-shadow: var(--boxModal);
  z-index: 5;
  position: fixed;
  transition: 0.4s;
  top: -100vh;
  left: 10vw;
  right: 10vw;
  background-color: var(--backgroundModal);
}
.c-modal-overlay {
  position: fixed;
  background-color: var(--colorOverlay);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: 2;
  display: none;
}

.c-modal__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  background: none;
  border: 0.125rem solid transparent;
  font-size: 1.3rem;
}

.overlay--active {
  display: block;
}

.modal--active {
  top: 15vh;
}
