.styleInit {
  box-sizing: border-box;
  height: 100vh;
  min-width: 500px;
  max-height: 1080px;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  background: #121e1eb3
    linear-gradient(
      180deg,
      #ffffff00 0%,
      rgb(88 144 172 / 5%) 23%,
      rgb(2 41 60 / 80%) 100%,
      #ffffff 100%
    )
    0% 0% no-repeat padding-box;
}

.imgUpRight {
  width: 70%;
  height: 300px;
  z-index: 100;
}
.imgDownRight {
  width: 38%;
  z-index: 110;
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 65%;
  z-index: 120;
}
.styleTitle {
  color: var(--secondaryColor);
}
.styleTitle h1 {
  margin: 14px 0 !important;
  font-size: 2.25rem;
}
.styleSubTitle {
  color: var(--thirdColor);
}
.styleSubTitle p {
  margin: 0 0 60px 0 !important;
  font-size: 2rem;
}
.styleBtn {
  box-shadow: none !important;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: var(--thirdColor);
  display: block;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0;
  min-width: 150px !important;
  min-height: 60px !important;
  margin: 0 auto;
  text-transform: none;
}

@media (max-width: 600px) {
  .styleInit {
    width: 100%;
    min-width: unset;
  }
  .imgUpRight {
    display: none;
  }
}
@media (max-width: 500px) {
  .styleTitle h1 {
    font-size: 1.25rem;
  }
  .styleSubTitle p {
    font-size: 1.375rem;
  }
}
