.styleInit {
  box-sizing: border-box;
  height: 100vh;
  min-width: 500px;
  max-height: 1080px;
  position: absolute;
  width: 32%;
  top: 0;
  right: 0;

  background: #121e1eb3
    linear-gradient(
      180deg,
      #ffffff00 0%,
      rgb(88 144 172 / 5%) 23%,
      rgb(2 41 60 / 80%) 100%,
      #ffffff 100%
    )
    0% 0% no-repeat padding-box;
}

.imgUpRight {
  position: absolute;
  width: 70%;
  height: 300px;
  z-index: 100;
  right: 0;
  top: 0;
}
.imgDownRight {
  position: absolute;
  width: 45%;
  height: 14.8125rem;
  z-index: 110;
  bottom: 0;
  right: 0;
}
.container {
  position: absolute;
  right: 97px;
  top: 260px;
  text-align: center;
  width: 65%;
  z-index: 120;
}
.styleTitle {
  color: var(--secondaryColor);
}
.styleTitle h3 {
  margin: 14px 0 !important;
  font-size: 2.25rem;
}
.styleSubTitle {
  color: var(--thirdColor);
}
.styleSubTitle h4 {
  margin: 0 0 60px 0 !important;
  font-size: 2rem;
}
.styleBtn {
  box-shadow: none !important;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: var(--thirdColor);
  display: block;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0;
  min-width: 150px !important;
  min-height: 60px !important;
  margin: 0 auto;
  text-transform: none;
}
.styleBtn:focus {
  outline: none !important;
}
