.dropdownContainer {
  position: relative;
}

.DropdownCont {
  box-shadow: var(--boxShadowNav);
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
  position: relative;
  display: flex;
  min-height: 2.75rem;
  gap: 10px;
}

.DropdownCont svg {
  fill: currentColor;
  max-width: 1.5rem;
  height: auto;
}

.dropdownArrow {
  transition: transform 300ms ease-in-out;
}

.DropdownCont + .navItem {
  display: none;
  padding: 0;
}

.DropdownCont[aria-expanded='true'] + .dropdownMenu {
  display: block;
  height: auto;
}

.DropdownCont[aria-expanded='true'] .dropdownArrow {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border-radius: var(--borderRadiusNav);
}

.dropdownMenu-item {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease, color 0.5s linear;
}

.dropdownMenu-item:hover {
  background-color: var(--bgNavHover);
}

.dropdownMenu-item:hover a {
  color: var(--txtNavHover);
}

.navLink[aria-expanded='true'] + div[aria-labelledby] {
  display: block;
  height: auto;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

svg[hide] {
  display: none;
}
svg[hide='false'] {
  display: block;
}
